<p id="notice"><%= notice %></p>

<%= form_for(@blog, url: choose_new_or_edit) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count%>件のエラーがあります。</h2>
      
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :status %>
  <%= f.select :status, [["公開", true ], ["下書き", false ]], :class => 'form-horizontal' %>
  <br>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description, class: 'form-control',size: 'x3' %>
  <br>
  <%= f.label :content %>
  <%= f.text_area :content, :id => 'blog_content', class: 'form-control' , size: "100x30" %>
  <p id="length_check">0文字</p>
  <br>
  <%= f.submit '保存', class: 'btn btn-primary' %>
  <% if @blog.id != nil %>
    <!-- 既に保存済みであればプレビューへのリンクを表示 -->
    <%= link_to 'プレビュー', blog_path(@blog.id) , :class => 'btn btn-default', :target=>["_blank"] %>
  <% end %>
  <%= link_to "戻る", myblogadmin_blogs_path, :class => 'btn btn-default' %>
<% end %>