<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <%= notice %>
      <h1>管理者ページ</h1>
      <%= link_to 'ブログ新規投稿', new_blog_path, :class => 'btn btn-primary' %>
      <%= link_to 'コメント一覧',mycommentadmin_blogs_path , :class => 'btn btn-default' %>
      <%= link_to 'ログアウト', session_path(current_user.id), :confirm => 'ログアウトしますか？',  :method => :delete , :class => 'btn btn-default' %>
      <%= link_to 'TOP',root_path , :class => 'btn btn-default' %>
    </div>
    <hr>
    <div class="col-xs-12">
      <table class="table table-hover table-bordered">
        <tr>
          <th>公開する</th>
          <th>投稿日</th>
          <th>件名</th>
          <th>サムネイル</th>
          <th>本文</th>
          <th>編集</th>
          <th>プレビュー</th>
          <th>削除</th>
        </tr>
        <% @blogs.each do |blog| %>
          <tr>
            <!-- ブログの公開状態を変更 -->
            <% if blog.status == true %>
              <td><%= link_to '公開中止', publish_blog_path(blog.id), :class => 'btn btn-danger', :method => 'post' %></td>
            <% else %>
              <td><%= link_to '公開する', publish_blog_path(blog.id), :class => 'btn btn-primary', :method => 'post' %></td>
            <% end %>
            
            <td><%= blog.created_at.strftime('%Y-%m-%d') %></td>
            <td><%= blog.title %></td>
            
            <!-- サムネイルが設定されているか -->
            <td><%= link_to thumbnail_blog_path(blog.id) do %>
              <% if blog.picture.nil? %>
                未設定
              <% else %>
                <%= image_tag(blog.picture.image.thumb) %>
              <% end %>
            <% end %></td>
            
            <td><%= blog.content.first(20)%>...</td>
            <td><%= link_to '編集', edit_blog_path(blog.id) %></td>
            <td><%= link_to '確認', blog_path(blog.id) %></td>
            <td><%= link_to '削除', blog_path(blog.id),  :method => 'delete' , data: {confirm: '削除しても宜しいですか？'} %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>