<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>thumbnail設定ページ</h1>
      <h3>現在の設定</h3>
      <% if @blog.picture.nil? %>
        <p>未設定</p>
      <% else %>
        <%= image_tag(@blog.picture.image.thumb) %>
      <% end %>
      
      <h3>画像を設定する</h3>
      <%= form_for(@blog) do |f| %>
        <table class='table'>
          <% @pictures.each do |picture| %>
            <tr>
              <td><%= f.radio_button :picture_id, picture.id %></td>
              <td><%= image_tag(picture.image.thumb) %></td>
            </tr>
          <% end %>
        </table>
        <%= f.submit '設定', class: 'btn btn-primary btn-block' %>
      <% end %>
      <br>
    </div>
  </div>
</div>
