<p id="notice"><%= notice %></p>

<h3>現在の画像</h3>
<% if @thumbnail.picture.nil? %>
  <p>画像は設定されていません</p>
<% else %>
  <%= image_tag(@thumbnail.picture.image.thumb) %>
<% end %>

<h3>サムネイル画像を設定する</h3>
<%= form_for(@thumbnail, url: thumbnail_new_or_edit) do |f| %>
  <%#= f.hidden_field :picture_id, :value => 6 %>
  <%= f.hidden_field :blog_id, :value => 9 %>
  <table class="table table-hover table-bordered">
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= f.radio_button :picture_id, :value => picture.id %></td>
        <td><%= image_tag(picture.image.thumb) %></td> 
      </tr>
    <% end %>
  </table>
  <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
<% end %>

<%= link_to "ブログ一覧画面に戻る", blogs_path %>