<!DOCTYPE html>
<html>
<head>
  <title>Simpleblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar navbar-brand" href="#">瀬戸内の雲のように</div>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "TOP", root_path , :class => 'mycssclass' %></li>
            <% if current_user == nil %>
              <li><%= link_to "ログイン", new_session_path, :class => 'mycssclass' %></li>
            <% else %>
              <li><%= link_to "ログアウト", session_path(current_user.id),:method => 'delete' , :class => 'mycssclass' %></li>
              <li><%= link_to '管理者ページ', myblogadmin_blogs_path %></li>
              <li><%= link_to '画像', pictures_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>

<%= yield %>

</body>
</html>