<!DOCTYPE html>
<html>
<head>
  <title>瀬戸内の雲のように</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path do %>
            <%= image_tag('logo2_small.png', :class => 'img img-responsive') %>
          <% end %>
        </div>
        
        <% if current_user != nil %>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "ログアウト", session_path(current_user.id),:method => 'delete' , :class => 'mycssclass' %></li>
              <li><%= link_to '管理者ページ', myblogadmin_blogs_path %></li>
              <li><%= link_to '画像', pictures_path %></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        <% end %>
      </div><!-- /.container-fluid -->
    </nav>
  </header>

<%= yield %>
</body>
</html>
<footer>
  <p>瀬戸内の雲のように Since 2017 Copyright K.M</p>
</footer>